/* .body {
    height: 100vh;
} */

.display {
    width: 420px;
    height: 50px;
    margin-bottom: 10px;
    background-color: cornsilk;
    font-size: 32px;
    text-align: center;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    flex-direction: column;
}